*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.awal{
    width: 100%;
    height: 100vh;
    background-color: black;
}
body{
    background-color: black;
}
h1{
    position: relative;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-size: 35px;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: nice 10s linear infinite;
}
@keyframes nice {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
    
}
.navigasi{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigasi ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navigasi ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navigasi ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navigasi ul li:hover:after{
    width: 100%;
}
.informasi{
    text-align: center;
    color: white;
}
.informasi-security{
    text-align: center;
    align-items: center;
}
.informasi-security h2{
    color: white;
}
.informasi-security p{
    color: white;
}
.informasi-security p a{
    color: white;
    -webkit-box-reflect: below 1px linear-graident(transparent, #fff);
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%
    {
        color: white;
        text-shadow: none;
    }
    100%{
        color: cyan;
        text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan;
    }
}
footer{
    position: absolute;
    bottom: -500;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%
    {
        color: black;
        text-shadow: none;
    }
    100%{
        color: cyan;
        text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan;
    }
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;

}
.footer-bottom{
    background: rgb(2, 2, 2);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: #fff;
    -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%
    {
        color: black;
        text-shadow: none;
    }
    100%{
        color: cyan;
        text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan, 0 0 0 60px cyan, 0 0 0 70px cyan;
    }
}
img{
    width: 600;
    align-items: center;
    text-align: center;
}
@media screen and (max-width : 500px) and (min-width : 430px) {
    h1{
        position: relative;
        background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
        background-size: 400%;
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 5px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: nice 10s linear infinite;
    }
    @keyframes nice {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
        
    }
    .navigasi{
        width: 140%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigasi ul li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
    .navigasi ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    .navigasi ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navigasi ul li:hover:after{
        width: 100%;
    }   
    footer{
        position: absolute;
        bottom: -500;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 150vw;
        font-family: "Open Sans";
        
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 1s linear infinite;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan;
        }
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #fff;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color .4s ease;
    }
    .socials a:hover i{
        color: aqua;
    
    }
    .footer-bottom{
        background: rgb(2, 2, 2);
        width: 150vw;
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        color: #fff;
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
        color: #fff;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 2s linear infinite;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan, 0 0 0 60px cyan, 0 0 0 70px cyan;
        }
    }
    .informasi h2{
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width : 430px) and (min-width : 390px){
    h1{
        position: relative;
        background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
        background-size: 400%;
        font-size: 25px;
        font-family: sans-serif;
        letter-spacing: 5px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: nice 10s linear infinite;
    }
    @keyframes nice {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
        
    }
    .navigasi{
        width: 100%;
        margin: auto;
        padding: 35px 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigasi ul li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
    .navigasi ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    .navigasi ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navigasi ul li:hover:after{
        width: 100%;
    }   
    footer{
        position: absolute;
        bottom: -500;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 105vw;
        font-family: "Open Sans";
        
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 1s linear infinite;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan;
        }
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #fff;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color .4s ease;
    }
    .socials a:hover i{
        color: aqua;
    
    }
    .footer-bottom{
        background: rgb(2, 2, 2);
        width: 105vw;
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        color: #fff;
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
        color: #fff;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 2s linear infinite;
    }
    img{
        width: 400;
        align-items: center;
        text-align: center;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan, 0 0 0 60px cyan, 0 0 0 70px cyan;
        }
    }

}
@media screen and (max-width : 389px) and (min-width : 362px){
    h1{
        position: relative;
        background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
        background-size: 400%;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 5px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: nice 10s linear infinite;
    }
    @keyframes nice {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
        
    }
    .navigasi{
        width: 100%;
        margin: auto;
        padding: 35px 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigasi ul li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
    .navigasi ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    .navigasi ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navigasi ul li:hover:after{
        width: 100%;
    }   
    footer{
        position: absolute;
        bottom: -500;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 105vw;
        font-family: "Open Sans";
        
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 1s linear infinite;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan;
        }
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #fff;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color .4s ease;
    }
    .socials a:hover i{
        color: aqua;
    
    }
    .footer-bottom{
        background: rgb(2, 2, 2);
        width: 105vw;
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        color: #fff;
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
        color: #fff;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 2s linear infinite;
    }
    img{
        width: 400;
        align-items: center;
        text-align: center;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan, 0 0 0 60px cyan, 0 0 0 70px cyan;
        }
    }
}
@media screen and (max-width : 361px) and (min-width : 310px){
    h1{
        position: relative;
        background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
        background-size: 400%;
        font-size: 14px;
        font-family: sans-serif;
        letter-spacing: 5px;
        font-weight: 600;
        word-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: nice 10s linear infinite;
    }
    @keyframes nice {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
        
    }
    .navigasi{
        width: 100%;
        margin: auto;
        padding: 35px 0;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigasi ul li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
    .navigasi ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    .navigasi ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navigasi ul li:hover:after{
        width: 100%;
    }   
    footer{
        position: absolute;
        bottom: -500;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 105vw;
        font-family: "Open Sans";
        
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 1s linear infinite;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan;
        }
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
        color: #fff;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color .4s ease;
    }
    .socials a:hover i{
        color: aqua;
    
    }
    .footer-bottom{
        background: rgb(2, 2, 2);
        width: 105vw;
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
        color: #fff;
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
        color: #fff;
        -webkit-box-reflect: below 1px linear-graident(transparent, #0008);
        animation: animate 2s linear infinite;
    }
    img{
        width: 400;
        align-items: center;
        text-align: center;
    }
    @keyframes animate{
        0%
        {
            color: black;
            text-shadow: none;
        }
        100%{
            color: cyan;
            text-shadow: 0 0 10px cyan, 0 0 0 20px cyan, 0 0 0 30px cyan, 0 0 0 40px cyan, 0 0 0 50px cyan, 0 0 0 60px cyan, 0 0 0 70px cyan;
        }
    }
}